<%- include('../partials/header') -%>

<%- include('../partials/navbar') -%>
<!-- <link rel="stylesheet" href="style.css"> -->
<section class="lolo"><h3>This is a project for CS346
    Made by: -Abdulelah Almutairi <br>-Abdulaziz Alhaizan <br> -Abdumajeed Alghannam
 

 </h3></section>

<%- include('../partials/footer') -%>