<section class="foot"></section>
<script src="/webappProject/node_modules/jquery/"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>